@charset "utf-8";

html {
    background-color: black;
    margin: 0;
    padding: 0;
 }

 header, .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
    max-height: 20vh;
    background-color: rgba(0,0,0,0.7);
 }

 img {
   margin: 20px;
   
 }
 nav {
    display: flex;
    opacity: 1;
 }
 
 nav a {
    color: white;
    margin-right: 90px;
    font-size: 30px;
    text-decoration: none;
    opacity: 1;

 }

 nav a:hover {
    text-decoration: underline;
    color: #D4AF37;
}

